[package]
name = "hawhh-calendarbot-parser"
version = "3.0.1"
license = "AGPL-3.0-or-later"
repository = "https://github.com/HAWHHCalendarBot/parser"
authors = ["EdJoPaTo <calendarbot-parser@hawhh.de>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
# See https://doc.rust-lang.org/rustc/codegen-options/index.html
codegen-units = 1
lto = true

[dependencies]
chrono = "0.4"
chrono-tz = "0.6"
notify = "4"
serde_json = "1"

[dependencies.serde]
version = "1"
features = ["derive"]
